/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

header {
    display: none;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 14px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 300px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll;
    z-index: 10;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    flex-grow: 1;
    margin-right: 8px;
}

/* Chat Sidebar Styles */

.chat__sidebar {
    position: relative;
}

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.chat__send-location {
    position: absolute;
    bottom: 0;
    margin: 12px auto;
    right: calc(50vw - 85px);
    width: 170px;
    height: 49px;
}

/* Media Queries */

@media (max-width: 600px) {

    header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 50px;
        background-color: #6b47b8;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100000;
    }

    .header__users {
        position: absolute;
        height: 16px;
        width: auto;
        left: 20px;
        display: block;
    }

    .header__x {
        position: absolute;
        font-size: 18px;
        left: 25px;
        color: white;
        display: none;

    }
    
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 28px;
        color: white;
    }

    input,label {
        font-size: 20px;
    }

   .centered-form__box {
       width: 100vw;
       height: 100vh
   }

   .centered-form__box input {
       margin-bottom: 20px;
   }

   .chat__sidebar {
       position: fixed;
       width: 100vw;
       left: -100vw;
       padding-top: 50px;
       top:0;
       -webkit-backface-visability: hidden;
   }

   .chat__main {
       width:100vw;
       height: 100vh;
   }

   .compose {
       position: sticky;
       bottom: 0;
       background-color: white;
   }

   .chat__messages {
       position: fixed;
       top: 0;
       bottom: 0;
       margin-top: 50px;
       width: 100vw;
       padding-bottom: 73px;
       -webkit-backface-visability: hidden;
   }

   .compose {
       position: fixed;
       padding: 12px;
       bottom: 0;
       -webkit-backface-visability: hidden;
   }

   .compose button {
       right: 0
   }

   .room-title {
       display: none;
   }

   .chat__send-location {
       bottom: 120px;
   }

}